body{
  text-align: center;
  background-image: url("../images/memphis-mini-dark.png");
}

.revealText{
  font-size: 18px;
}

header{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px 10px 10px 10px;
}

h2, h3{
  padding: 1%;
}
